.cell {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
  color: #333333 !important;
}

.title {
  font-weight: 700 !important;
  font-size: 1.6rem !important;
  color: #333333 !important;
}